$btn-padding: 10px;
$btn-border-none:  none;
$rounded-btn: 35px;


#mainBtn{
    background-color: $yellow;
    padding: $btn-padding;
    border: $btn-border-none;
    &:hover{
        cursor: pointer
    };
};
.hide{
    display: none;
}
#gigetto {
    background-color: #191919;
    border: none;
    color: $white;
    padding: $btn-padding;
    border-radius: $rounded-btn;
    &:hover{
        cursor: pointer
    };
  }
  #dogeBtn{
    background-color: #191919;
    border: none;
    color: $white;
    padding: $btn-padding;
    border-radius: $rounded-btn * 2;
    &:hover{
        cursor: pointer
    };
  }